<%= form_with url: test_path(format: :pdf), method: :get do |form| %>
  <% (1..5).each do |i| %>
    <div>
      <p>
      <%= i %>
      <%= select_tag "question_#{i}", options_for_select([['---選択してください---', ''], ['山', '1'], ['川', '2'], ['一', '3'], ['二', '4'], ['三', '5'], ['赤', '6']]) %>
      </p>
    </div>
  <% end %>

  <%= form.submit 'PDF出力' %>
<% end %>
