<%= form_with url: test_path(format: :pdf), method: :get do |form| %>
  <% (1..5).each do |i| %>
    <div>
      <p>
        <%= i %>
        <%= select_tag "kanji_id_#{i}", options_from_collection_for_select(@kanjis, :id, :character), prompt: '---選択してください---' %>
      </p>
    </div>
  <% end %>

  <%= form.submit 'PDF出力' %>
<% end %>
